[submodule "Fundamentos de la IA/P1 - Introduccion/E2-aspiradora/Tests aspiradora"]
	path = Fundamentos de la IA/P1 - Introduccion/E2-aspiradora/Tests aspiradora
	url = https://github.com/ICAI-iMAT-FIA/p2-search-agent-roomba-claudialbzz.git
[submodule "Aprendizaje Automatico/P1 - Introduccion"]
	path = Aprendizaje Automatico/P1 - Introduccion
	url = https://github.com/ICAI-IMAT-ML/p2-1-prepare-data-claudialbzz.git
[submodule "Aprendizaje Automatico/P2 - KNN"]
	path = Aprendizaje Automatico/P2 - KNN
	url = https://github.com/ICAI-IMAT-ML/p2-2-knn-claudialbombin.git
[submodule "Aprendizaje Automatico/P3 - Regresion Linear"]
	path = Aprendizaje Automatico/P3 - Regresion Linear
	url = https://github.com/ICAI-IMAT-ML/p2-3-linear-regression-claudialbombin.git
[submodule "Aprendizaje Automatico/P4 - Regresion Lineal II"]
	path = Aprendizaje Automatico/P4 - Regresion Lineal II
	url = https://github.com/ICAI-IMAT-ML/p2-4-linear-regression-ii-claudialbombin.git
[submodule "Aprendizaje Automatico/P5 - Regresion Logistica"]
	path = Aprendizaje Automatico/P5 - Regresion Logistica
	url = https://github.com/ICAI-IMAT-ML/p2-5-logistic-regression-claudialbombin.git
[submodule "Aprendizaje Automatico/P6 - Validacion Cruzada"]
	path = Aprendizaje Automatico/P6 - Validacion Cruzada
	url = https://github.com/ICAI-IMAT-ML/p2-6-cross-validation-claudialbombin.git
[submodule "Aprendizaje Automatico/P7 - LDA"]
	path = Aprendizaje Automatico/P7 - LDA
	url = https://github.com/ICAI-IMAT-ML/p2-7-lda-claudialbombin.git
[submodule "Aprendizaje Automatico/P8 - Arboles de Decision"]
	path = Aprendizaje Automatico/P8 - Arboles de Decision
	url = https://github.com/ICAI-IMAT-ML/p2-8-decision-tree-claudialbombin.git
[submodule "P3 - Regresion Lineal I"]
	path = P3 - Regresion Lineal I
	url = https://github.com/ICAI-IMAT-ML/p2-3-linear-regression-claudialbombin.git
