[submodule "Fundamentos de la IA/P1 - Introduccion/E2-aspiradora/Tests aspiradora"]
	path = Fundamentos de la IA/P1 - Introduccion/E2-aspiradora/Tests aspiradora
	url = https://github.com/ICAI-iMAT-FIA/p2-search-agent-roomba-claudialbzz.git
[submodule "Aprendizaje Automatico/P1 - Introduccion"]
	path = Aprendizaje Automatico/P1 - Introduccion
	url = https://github.com/ICAI-IMAT-ML/p2-1-prepare-data-claudialbzz.git
